// $Id$

// - - - - - - - Bootstrap variables (override values in vendor_bundled/vendor/twbs/bootstrap/scss/_variables.scss - - - - - - //

// Colors
$white:    #fff !default;
 $gray-100: #f8f9fa !default;
 $gray-200: #e9ecef !default;
 $gray-300: #dee2e6 !default;
 $gray-400: #ced4da !default;
 $gray-500: #adb5bd !default;
 $gray-600: #868e96 !default;
 $gray-700: #495057 !default;
 $gray-800: #343a40 !default;
 $gray-900: #212529 !default;
 $black:    #000 !default;

$primary: #1174a5 !default;
$success: #56ca75!default;
$secondary: #8452af !default;
$info: #4d3a7d !default;
$warning: #debb27 !default;
$danger: #df6e1e !default;
$light: #fff !default;
$dark: #000 !default;

$theme-colors: (
            "primary":    $primary,
            "secondary":  $secondary,
            "success":    $success,
            "info":       $info,
            "warning":    $warning,
            "danger":     $danger,
            "light":      $light,
            "dark":       $dark
) !default;


// Options
// Spacing

// Body
$body-color: $gray-800 !default;
$body-bg: #fff !default;

// Links
$link-hover-decoration: none !default;
// Components
//$padding-base-vertical: .5rem;
//$padding-large-vertical: .9rem;

// Typography
$font-family-sans-serif: Lato, sans-serif !default;
$headings-font-family: $font-family-sans-serif !default;
$headings-font-weight: 700 !default;

$text-muted:                  #6F7780;
$blockquote-footer-color: $text-muted !default;


// Tables
//$table-border-color: #dddddd;

// Buttons
//$btn-default-color: #ffffff;
//$btn-default-bg: #3676c4;
//$btn-default-border: #3676c4;

//$btn-primary-color: #ffffff;
//$btn-primary-bg: #3676c4;

// Forms
//$input-border-color: #dddddd;
// Dropdowns
$dropdown-bg: #1376a8 !default;
$dropdown-link-color: $gray-200 !default;
$dropdown-link-hover-color: #ffffff !default;
$dropdown-link-hover-bg: darken(#1376a8, 10%) !default;
$dropdown-link-active-bg: #0e567a !default;
$dropdown-header-color: #fff !default;

// Navs
$nav-tabs-border-color:             $gray-300 !default;

// Navbar
$navbar-height: 30px !default;

//$navbar-dark-color: #ffffff;
//$navbar-dark-bg: #1f5daa;
$navbar-primary-bg: #28aae1 !default;
$bg-dark: #28aae1 !default;

//$navbar-dark-border: darken($navbar-dark-bg, 6.5%);

// Navbarlinks ??
$navbar-dark-color: #ffffff !default;
$navbar-dark-hover-color: #f9f9f9 !default;
$navbar-dark-hover-bg: darken($primary, 6.5%) !default;
$navbar-dark-active-color: #ffffff !default;
$navbar-dark-active-bg: darken($primary, 6.5%) !default;
$navbar-dark-disabled-color: #cccccc !default;

// Pagination
// Jumbotron
// Cards
$card-header-bg: transparent !default;
//$card-border-radius: $border-radius-lg;
$card-text: $body-color !default;
$card-header-bg: transparent !default;
//$card-bg: transparent;
//$card-border-color: transparent;
//$card-inner-border: transparent;
$card-spacer-y: 0.5rem !default;
$card-spacer-x: 1rem !default;

// Tooltips
// Popovers
$popover-body-color: $body-color !default;

// Badges
// Modals
//$modal-header-border-color: #386dbb;
// $modal-content-bg
// Alerts
// Progress bars
// List group
// Image thumbnails
// Figures
$figure-caption-color: $body-color !default;

// Breadcrumbs
// Carousel
// Close
// Code

// - - - - - - - - - -  - - - - - - Other variables, if any - - - - - - - - - - - - - - - - - //

// - - - - - - - - - - Tiki selector variables ( for _tiki-selectors.scss ) - - - - - - - - - //

// $Id$ tiki-selector-variables.scss file, to provide values for "legacy" Tiki CSS selectors (not covered by Bootstrap).
// These FiveAlive-lite theme option values are used by themes/fivealive-lite/less/_tiki-selectors.scss

$imagePath: "../images/";
$side-column-border: none;
$side-column-card-header-bg: #ffffff !default;
// #f5399c
$side-column-card-header-color: #1174a5 !default;
// #3f1020;
$side-column-card-header-border-color: #1174a5 !default;
$side-column-card-header-border-width: 0 0 1px 0 !default;
$header_outer-bg: darken(#28aae1, 10%) !default;
// url('#{$imagePath}siteheadertile.png') 0 0 no-repeat;
$header_container_header-bg: url('#{$imagePath}siteheader.png') -248px 0 no-repeat;
$header-color: #ffffff !default;
$topbar_container-bg: #28aae1 !default;
$topbar-bg: #28a7de !default;
$form-control-bg: #ffffff !default;
$form-control-border-colors: #9ae8fa #e3f7fb #e3f7fb #9ae8fa !default;
$footer-color: #696969 !default;
$footer-border-color: #28aae1 !default;
$footer-link-color: #a9a9a9 !default;
$navbar-dark-navbar-nav-li-a-bg: #28aae1 !default;
$postbody-title-bg: $header_outer-bg !default;
$postbody-title-color: #000000 !default;
// url('#{$imagePath}siteheader.png') no-repeat -480px -200px;
$brand-primary-of-option: $primary !default;
$navbar-default-link-bg: $navbar-dark-navbar-nav-li-a-bg !default;
$side-column-border: none !default;
$topbar_container-bg: $navbar-dark-navbar-nav-li-a-bg !default;
$navbar-fixed-height: 46px !default;
// .secondary_site_menu .navbar-nav li.dropdown { border-bottom: none;}
$middle_outer-inset-shadow-bg: $topbar-bg !default;

// Update for Smartmenus
$dropdown-item: $dropdown-link-color !default;
