/* Bootswatch theme adapted by the Tiki Community for Tiki Wiki CMS Groupware */
/* Original Bootswatch information: */
/*!
 * bootswatch v5.1.3
 * Homepage: http://bootswatch.com
 * Copyright 2012-2017 Thomas Park
 * Licensed under MIT
 * Based on Bootstrap
*/

@import "../../../vendor_bundled/vendor/thomaspark/bootswatch/dist/superhero/variables"; // Needs to come first, to override defaults.
@import "../../../vendor_bundled/vendor/twbs/bootstrap/scss/bootstrap.scss"; // Needed for darken function.
@import "../../base_files/scss/_tiki-variables.scss"; // Values/definitions for Tiki variables (outside of Bootstrap variables) such as _tiki-selectors.scss.
@import "../../base_files/scss/_tiki-selectors.scss";
@import "../../base_files/scss/_bs3-bs4-transition.scss";
@import "../../../vendor_bundled/vendor/thomaspark/bootswatch/dist/superhero/bootswatch";
@import "../../base_files/scss/_external-scripts.scss";
@import "../../base_files/scss/_select2-tiki_colors.scss";

// the Bootstrap variables.scss file with theme-specific values replacing the defaults

//.cssmenu_horiz a,
//.cssmenu_horiz ul li button.btn-link.link-list,
//.cssmenu_vert ul li button.btn-link.link-list {
//    font-size: 12px;
//}

//.nav.cssmenu_horiz > li > a {
//    padding-top: 11px;
//    padding-bottom: 11px;
//}

.navbar-light .cssmenu_horiz > li > a {
    color: $navbar-light-color;
}

body.fullscreen { background: $body-bg; }

//Theme variables aren't overriding default values for these.
body {
    color: #EBEBEB;
    background: #2B3E50;
}

// override for some cypht background colors
.tiki {
    .inline-cypht {
        .list_controls {
            background: transparent;
        }
    }
    &.mobile.tiki-cypht {
        .content_title {
            &, .list_controls { background: $card-bg; }
        }
    }
}

.tiki_trackers {
    .icon-status-open, .icon-status-pending, .icon-status-closed {
        filter: drop-shadow(0px 0px 1px black);
    }
}
// Increase navbar height and side margins to reinstate Bootswatch style
.topbar_modules > * {
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.topbar_modules {
    margin-left: 30px;
    margin-right: 30px;
}