/*  The Orange theme option file for the FiveAlive-lite theme of Tiki Wiki CMS Groupware. */
.text-danger {
  color: #EB0004 !important;
}
.text-dark {
  color: #6D5509 !important;
}
.btn-primary {
  color: #000000;
}
.bg-dark {
  background-color: #e77d4f !important;
}
.btn-dark {
  color: #fff;
  background-color: #e77d4f;
  border-color: #e77d4f;
}
.btn.btn-outline-primary {
  color: #80780A;
  border-color: #80780A;
}
.btn.btn-outline-secondary {
  color: #B35123;
  border-color: #B35123;
}
.btn.btn-outline-success {
  color: #3A833A;
  border-color: #3A833A;
}
.btn.btn-outline-warning {
  color: #A2630B;
  border-color: #A2630B;
}
.btn.btn-outline-info {
  color: #6E7425;
  border-color: #6E7425;
}
.btn.btn-outline-dark {
  color: #6D5509;
  border-color: #6D5509;
}
.breadcrumb-item.active {
  color: #6B737B !important;
}
.valid-feedback, .valid-tooltip {
  color: #288040 !important;
}
.was-validated .form-check-input:invalid ~ .form-check-label, .form-check-input.is-invalid ~ .form-check-label, .invalid-feedback, .invalid-tooltip {
  color: #EB0004 !important;
}
.bg-danger .card-title, .bg-warning .card-title {
  color: #fff;
}
.badge.bg-secondary {
  background-color: #BB5525 !important;
}
.badge.bg-info {
  background-color: #D4452B !important;
}
.badge.bg-primary, .badge.bg-light, .badge.bg-warning, .badge.bg-success, .badge.bg-info {
  color: #000;
}
.page-item.disabled, .list-group-item.disabled {
  color: #6B737B !important;
}
.text-primary {
  color: #80780A !important;
}
.text-warning {
  color: #A0630E !important;
}
.text-success {
  color: #3A833A !important;
}
.text-info {
  color: #6E7425 !important;
}
.progress-bar.bg-warning, .progress-bar.bg-info, .progress-bar.bg-success {
  color: #000;
}
.page-item.disabled, .list-group-item.disabled {
  color: #6B737B !important;
}
.bg-light {
  background: #fdde9f !important;
}
.tiki .dropdown-item {
  color: #fff !important;
}
:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #f06423;
  --bs-secondary: #952f20;
  --bs-success: #5cb85c;
  --bs-info: #ba3a26;
  --bs-warning: #f0ad4e;
  --bs-danger: #EB0004;
  --bs-light: #fdde9f;
  --bs-dark: #e77d4f;
  --bs-primary-rgb: 240, 100, 35;
  --bs-secondary-rgb: 149, 47, 32;
  --bs-success-rgb: 92, 184, 92;
  --bs-info-rgb: 186, 58, 38;
  --bs-warning-rgb: 240, 173, 78;
  --bs-danger-rgb: 235, 0, 4;
  --bs-light-rgb: 253, 222, 159;
  --bs-dark-rgb: 231, 125, 79;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-body-color-rgb: 33, 37, 41;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #212529;
  --bs-body-bg: #fff;
}
.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .btn {
    transition: none;
  }
}
.btn:hover {
  color: #212529;
}
.btn-check:focus + .btn, .btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(240, 100, 35, 0.25);
}
.btn:disabled, .btn.disabled, fieldset:disabled .btn {
  pointer-events: none;
  opacity: 0.65;
}
.btn-primary {
  color: #212529;
  background-color: #f06423;
  border-color: #f06423;
}
.btn-primary:hover {
  color: #212529;
  background-color: #f27b44;
  border-color: #f27439;
}
.btn-check:focus + .btn-primary, .btn-primary:focus {
  color: #212529;
  background-color: #f27b44;
  border-color: #f27439;
  box-shadow: 0 0 0 0.2rem rgba(209, 91, 36, 0.5);
}
.btn-check:checked + .btn-primary, .btn-check:active + .btn-primary, .btn-primary:active, .btn-primary.active, .show > .btn-primary.dropdown-toggle {
  color: #212529;
  background-color: #f3834f;
  border-color: #f27439;
}
.btn-check:checked + .btn-primary:focus, .btn-check:active + .btn-primary:focus, .btn-primary:active:focus, .btn-primary.active:focus, .show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(209, 91, 36, 0.5);
}
.btn-primary:disabled, .btn-primary.disabled {
  color: #212529;
  background-color: #f06423;
  border-color: #f06423;
}
.btn-secondary {
  color: #fff;
  background-color: #952f20;
  border-color: #952f20;
}
.btn-secondary:hover {
  color: #fff;
  background-color: #7f281b;
  border-color: #77261a;
}
.btn-check:focus + .btn-secondary, .btn-secondary:focus {
  color: #fff;
  background-color: #7f281b;
  border-color: #77261a;
  box-shadow: 0 0 0 0.2rem rgba(165, 78, 65, 0.5);
}
.btn-check:checked + .btn-secondary, .btn-check:active + .btn-secondary, .btn-secondary:active, .btn-secondary.active, .show > .btn-secondary.dropdown-toggle {
  color: #fff;
  background-color: #77261a;
  border-color: #702318;
}
.btn-check:checked + .btn-secondary:focus, .btn-check:active + .btn-secondary:focus, .btn-secondary:active:focus, .btn-secondary.active:focus, .show > .btn-secondary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(165, 78, 65, 0.5);
}
.btn-secondary:disabled, .btn-secondary.disabled {
  color: #fff;
  background-color: #952f20;
  border-color: #952f20;
}
.btn-success {
  color: #212529;
  background-color: #5cb85c;
  border-color: #5cb85c;
}
.btn-success:hover {
  color: #212529;
  background-color: #74c374;
  border-color: #6cbf6c;
}
.btn-check:focus + .btn-success, .btn-success:focus {
  color: #212529;
  background-color: #74c374;
  border-color: #6cbf6c;
  box-shadow: 0 0 0 0.2rem rgba(83, 162, 84, 0.5);
}
.btn-check:checked + .btn-success, .btn-check:active + .btn-success, .btn-success:active, .btn-success.active, .show > .btn-success.dropdown-toggle {
  color: #212529;
  background-color: #7dc67d;
  border-color: #6cbf6c;
}
.btn-check:checked + .btn-success:focus, .btn-check:active + .btn-success:focus, .btn-success:active:focus, .btn-success.active:focus, .show > .btn-success.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(83, 162, 84, 0.5);
}
.btn-success:disabled, .btn-success.disabled {
  color: #212529;
  background-color: #5cb85c;
  border-color: #5cb85c;
}
.btn-info {
  color: #fff;
  background-color: #ba3a26;
  border-color: #ba3a26;
}
.btn-info:hover {
  color: #fff;
  background-color: #9e3120;
  border-color: #952e1e;
}
.btn-check:focus + .btn-info, .btn-info:focus {
  color: #fff;
  background-color: #9e3120;
  border-color: #952e1e;
  box-shadow: 0 0 0 0.2rem rgba(196, 88, 71, 0.5);
}
.btn-check:checked + .btn-info, .btn-check:active + .btn-info, .btn-info:active, .btn-info.active, .show > .btn-info.dropdown-toggle {
  color: #fff;
  background-color: #952e1e;
  border-color: #8c2c1d;
}
.btn-check:checked + .btn-info:focus, .btn-check:active + .btn-info:focus, .btn-info:active:focus, .btn-info.active:focus, .show > .btn-info.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(196, 88, 71, 0.5);
}
.btn-info:disabled, .btn-info.disabled {
  color: #fff;
  background-color: #ba3a26;
  border-color: #ba3a26;
}
.btn-warning {
  color: #212529;
  background-color: #f0ad4e;
  border-color: #f0ad4e;
}
.btn-warning:hover {
  color: #212529;
  background-color: #f2b969;
  border-color: #f2b560;
}
.btn-check:focus + .btn-warning, .btn-warning:focus {
  color: #212529;
  background-color: #f2b969;
  border-color: #f2b560;
  box-shadow: 0 0 0 0.2rem rgba(209, 153, 72, 0.5);
}
.btn-check:checked + .btn-warning, .btn-check:active + .btn-warning, .btn-warning:active, .btn-warning.active, .show > .btn-warning.dropdown-toggle {
  color: #212529;
  background-color: #f3bd71;
  border-color: #f2b560;
}
.btn-check:checked + .btn-warning:focus, .btn-check:active + .btn-warning:focus, .btn-warning:active:focus, .btn-warning.active:focus, .show > .btn-warning.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(209, 153, 72, 0.5);
}
.btn-warning:disabled, .btn-warning.disabled {
  color: #212529;
  background-color: #f0ad4e;
  border-color: #f0ad4e;
}
.btn-danger {
  color: #fff;
  background-color: #EB0004;
  border-color: #EB0004;
}
.btn-danger:hover {
  color: #fff;
  background-color: #c80003;
  border-color: #bc0003;
}
.btn-check:focus + .btn-danger, .btn-danger:focus {
  color: #fff;
  background-color: #c80003;
  border-color: #bc0003;
  box-shadow: 0 0 0 0.2rem rgba(238, 38, 42, 0.5);
}
.btn-check:checked + .btn-danger, .btn-check:active + .btn-danger, .btn-danger:active, .btn-danger.active, .show > .btn-danger.dropdown-toggle {
  color: #fff;
  background-color: #bc0003;
  border-color: #b00003;
}
.btn-check:checked + .btn-danger:focus, .btn-check:active + .btn-danger:focus, .btn-danger:active:focus, .btn-danger.active:focus, .show > .btn-danger.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(238, 38, 42, 0.5);
}
.btn-danger:disabled, .btn-danger.disabled {
  color: #fff;
  background-color: #EB0004;
  border-color: #EB0004;
}
.btn-light {
  color: #212529;
  background-color: #fdde9f;
  border-color: #fdde9f;
}
.btn-light:hover {
  color: #212529;
  background-color: #fde3ad;
  border-color: #fde1a9;
}
.btn-check:focus + .btn-light, .btn-light:focus {
  color: #212529;
  background-color: #fde3ad;
  border-color: #fde1a9;
  box-shadow: 0 0 0 0.2rem rgba(220, 194, 141, 0.5);
}
.btn-check:checked + .btn-light, .btn-check:active + .btn-light, .btn-light:active, .btn-light.active, .show > .btn-light.dropdown-toggle {
  color: #212529;
  background-color: #fde5b2;
  border-color: #fde1a9;
}
.btn-check:checked + .btn-light:focus, .btn-check:active + .btn-light:focus, .btn-light:active:focus, .btn-light.active:focus, .show > .btn-light.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(220, 194, 141, 0.5);
}
.btn-light:disabled, .btn-light.disabled {
  color: #212529;
  background-color: #fdde9f;
  border-color: #fdde9f;
}
.btn-dark {
  color: #212529;
  background-color: #e77d4f;
  border-color: #e77d4f;
}
.btn-dark:hover {
  color: #212529;
  background-color: #eb9169;
  border-color: #e98a61;
}
.btn-check:focus + .btn-dark, .btn-dark:focus {
  color: #212529;
  background-color: #eb9169;
  border-color: #e98a61;
  box-shadow: 0 0 0 0.2rem rgba(201, 112, 73, 0.5);
}
.btn-check:checked + .btn-dark, .btn-check:active + .btn-dark, .btn-dark:active, .btn-dark.active, .show > .btn-dark.dropdown-toggle {
  color: #212529;
  background-color: #ec9772;
  border-color: #e98a61;
}
.btn-check:checked + .btn-dark:focus, .btn-check:active + .btn-dark:focus, .btn-dark:active:focus, .btn-dark.active:focus, .show > .btn-dark.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(201, 112, 73, 0.5);
}
.btn-dark:disabled, .btn-dark.disabled {
  color: #212529;
  background-color: #e77d4f;
  border-color: #e77d4f;
}
.btn-outline-primary {
  color: #f06423;
  border-color: #f06423;
}
.btn-outline-primary:hover {
  color: #212529;
  background-color: #f06423;
  border-color: #f06423;
}
.btn-check:focus + .btn-outline-primary, .btn-outline-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(240, 100, 35, 0.5);
}
.btn-check:checked + .btn-outline-primary, .btn-check:active + .btn-outline-primary, .btn-outline-primary:active, .btn-outline-primary.active, .btn-outline-primary.dropdown-toggle.show {
  color: #212529;
  background-color: #f06423;
  border-color: #f06423;
}
.btn-check:checked + .btn-outline-primary:focus, .btn-check:active + .btn-outline-primary:focus, .btn-outline-primary:active:focus, .btn-outline-primary.active:focus, .btn-outline-primary.dropdown-toggle.show:focus {
  box-shadow: 0 0 0 0.2rem rgba(240, 100, 35, 0.5);
}
.btn-outline-primary:disabled, .btn-outline-primary.disabled {
  color: #f06423;
  background-color: transparent;
}
.btn-outline-secondary {
  color: #952f20;
  border-color: #952f20;
}
.btn-outline-secondary:hover {
  color: #fff;
  background-color: #952f20;
  border-color: #952f20;
}
.btn-check:focus + .btn-outline-secondary, .btn-outline-secondary:focus {
  box-shadow: 0 0 0 0.2rem rgba(149, 47, 32, 0.5);
}
.btn-check:checked + .btn-outline-secondary, .btn-check:active + .btn-outline-secondary, .btn-outline-secondary:active, .btn-outline-secondary.active, .btn-outline-secondary.dropdown-toggle.show {
  color: #fff;
  background-color: #952f20;
  border-color: #952f20;
}
.btn-check:checked + .btn-outline-secondary:focus, .btn-check:active + .btn-outline-secondary:focus, .btn-outline-secondary:active:focus, .btn-outline-secondary.active:focus, .btn-outline-secondary.dropdown-toggle.show:focus {
  box-shadow: 0 0 0 0.2rem rgba(149, 47, 32, 0.5);
}
.btn-outline-secondary:disabled, .btn-outline-secondary.disabled {
  color: #952f20;
  background-color: transparent;
}
.btn-outline-success {
  color: #5cb85c;
  border-color: #5cb85c;
}
.btn-outline-success:hover {
  color: #212529;
  background-color: #5cb85c;
  border-color: #5cb85c;
}
.btn-check:focus + .btn-outline-success, .btn-outline-success:focus {
  box-shadow: 0 0 0 0.2rem rgba(92, 184, 92, 0.5);
}
.btn-check:checked + .btn-outline-success, .btn-check:active + .btn-outline-success, .btn-outline-success:active, .btn-outline-success.active, .btn-outline-success.dropdown-toggle.show {
  color: #212529;
  background-color: #5cb85c;
  border-color: #5cb85c;
}
.btn-check:checked + .btn-outline-success:focus, .btn-check:active + .btn-outline-success:focus, .btn-outline-success:active:focus, .btn-outline-success.active:focus, .btn-outline-success.dropdown-toggle.show:focus {
  box-shadow: 0 0 0 0.2rem rgba(92, 184, 92, 0.5);
}
.btn-outline-success:disabled, .btn-outline-success.disabled {
  color: #5cb85c;
  background-color: transparent;
}
.btn-outline-info {
  color: #ba3a26;
  border-color: #ba3a26;
}
.btn-outline-info:hover {
  color: #fff;
  background-color: #ba3a26;
  border-color: #ba3a26;
}
.btn-check:focus + .btn-outline-info, .btn-outline-info:focus {
  box-shadow: 0 0 0 0.2rem rgba(186, 58, 38, 0.5);
}
.btn-check:checked + .btn-outline-info, .btn-check:active + .btn-outline-info, .btn-outline-info:active, .btn-outline-info.active, .btn-outline-info.dropdown-toggle.show {
  color: #fff;
  background-color: #ba3a26;
  border-color: #ba3a26;
}
.btn-check:checked + .btn-outline-info:focus, .btn-check:active + .btn-outline-info:focus, .btn-outline-info:active:focus, .btn-outline-info.active:focus, .btn-outline-info.dropdown-toggle.show:focus {
  box-shadow: 0 0 0 0.2rem rgba(186, 58, 38, 0.5);
}
.btn-outline-info:disabled, .btn-outline-info.disabled {
  color: #ba3a26;
  background-color: transparent;
}
.btn-outline-warning {
  color: #f0ad4e;
  border-color: #f0ad4e;
}
.btn-outline-warning:hover {
  color: #212529;
  background-color: #f0ad4e;
  border-color: #f0ad4e;
}
.btn-check:focus + .btn-outline-warning, .btn-outline-warning:focus {
  box-shadow: 0 0 0 0.2rem rgba(240, 173, 78, 0.5);
}
.btn-check:checked + .btn-outline-warning, .btn-check:active + .btn-outline-warning, .btn-outline-warning:active, .btn-outline-warning.active, .btn-outline-warning.dropdown-toggle.show {
  color: #212529;
  background-color: #f0ad4e;
  border-color: #f0ad4e;
}
.btn-check:checked + .btn-outline-warning:focus, .btn-check:active + .btn-outline-warning:focus, .btn-outline-warning:active:focus, .btn-outline-warning.active:focus, .btn-outline-warning.dropdown-toggle.show:focus {
  box-shadow: 0 0 0 0.2rem rgba(240, 173, 78, 0.5);
}
.btn-outline-warning:disabled, .btn-outline-warning.disabled {
  color: #f0ad4e;
  background-color: transparent;
}
.btn-outline-danger {
  color: #EB0004;
  border-color: #EB0004;
}
.btn-outline-danger:hover {
  color: #fff;
  background-color: #EB0004;
  border-color: #EB0004;
}
.btn-check:focus + .btn-outline-danger, .btn-outline-danger:focus {
  box-shadow: 0 0 0 0.2rem rgba(235, 0, 4, 0.5);
}
.btn-check:checked + .btn-outline-danger, .btn-check:active + .btn-outline-danger, .btn-outline-danger:active, .btn-outline-danger.active, .btn-outline-danger.dropdown-toggle.show {
  color: #fff;
  background-color: #EB0004;
  border-color: #EB0004;
}
.btn-check:checked + .btn-outline-danger:focus, .btn-check:active + .btn-outline-danger:focus, .btn-outline-danger:active:focus, .btn-outline-danger.active:focus, .btn-outline-danger.dropdown-toggle.show:focus {
  box-shadow: 0 0 0 0.2rem rgba(235, 0, 4, 0.5);
}
.btn-outline-danger:disabled, .btn-outline-danger.disabled {
  color: #EB0004;
  background-color: transparent;
}
.btn-outline-light {
  color: #fdde9f;
  border-color: #fdde9f;
}
.btn-outline-light:hover {
  color: #212529;
  background-color: #fdde9f;
  border-color: #fdde9f;
}
.btn-check:focus + .btn-outline-light, .btn-outline-light:focus {
  box-shadow: 0 0 0 0.2rem rgba(253, 222, 159, 0.5);
}
.btn-check:checked + .btn-outline-light, .btn-check:active + .btn-outline-light, .btn-outline-light:active, .btn-outline-light.active, .btn-outline-light.dropdown-toggle.show {
  color: #212529;
  background-color: #fdde9f;
  border-color: #fdde9f;
}
.btn-check:checked + .btn-outline-light:focus, .btn-check:active + .btn-outline-light:focus, .btn-outline-light:active:focus, .btn-outline-light.active:focus, .btn-outline-light.dropdown-toggle.show:focus {
  box-shadow: 0 0 0 0.2rem rgba(253, 222, 159, 0.5);
}
.btn-outline-light:disabled, .btn-outline-light.disabled {
  color: #fdde9f;
  background-color: transparent;
}
.btn-outline-dark {
  color: #e77d4f;
  border-color: #e77d4f;
}
.btn-outline-dark:hover {
  color: #212529;
  background-color: #e77d4f;
  border-color: #e77d4f;
}
.btn-check:focus + .btn-outline-dark, .btn-outline-dark:focus {
  box-shadow: 0 0 0 0.2rem rgba(231, 125, 79, 0.5);
}
.btn-check:checked + .btn-outline-dark, .btn-check:active + .btn-outline-dark, .btn-outline-dark:active, .btn-outline-dark.active, .btn-outline-dark.dropdown-toggle.show {
  color: #212529;
  background-color: #e77d4f;
  border-color: #e77d4f;
}
.btn-check:checked + .btn-outline-dark:focus, .btn-check:active + .btn-outline-dark:focus, .btn-outline-dark:active:focus, .btn-outline-dark.active:focus, .btn-outline-dark.dropdown-toggle.show:focus {
  box-shadow: 0 0 0 0.2rem rgba(231, 125, 79, 0.5);
}
.btn-outline-dark:disabled, .btn-outline-dark.disabled {
  color: #e77d4f;
  background-color: transparent;
}
.btn-link {
  font-weight: 400;
  color: #c74b23;
  text-decoration: underline;
}
.btn-link:hover {
  color: #863218;
}
.btn-link:disabled, .btn-link.disabled {
  color: #6c757d;
}
.btn-lg {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  border-radius: 0.3rem;
}
.btn-sm {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  border-radius: 0.2rem;
}
.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  color: #c74b23;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .nav-link {
    transition: none;
  }
}
.nav-link:hover, .nav-link:focus {
  color: #863218;
}
.nav-link.disabled {
  color: #6c757d;
  pointer-events: none;
  cursor: default;
}
.nav-tabs {
  border-bottom: 1px solid #dee2e6;
}
.nav-tabs .nav-link {
  margin-bottom: -1px;
  background: none;
  border: 1px solid transparent;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
  border-color: #e9ecef #e9ecef #dee2e6;
  isolation: isolate;
}
.nav-tabs .nav-link.disabled {
  color: #6c757d;
  background-color: transparent;
  border-color: transparent;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  color: #fff;
  background-color: #e36732;
  border-color: #dee2e6 #dee2e6 #e36732;
}
.nav-tabs .dropdown-menu {
  margin-top: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.nav-pills .nav-link {
  background: none;
  border: 0;
  border-radius: 0.25rem;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #c74b23;
}
.nav-fill > .nav-link, .nav-fill .nav-item {
  flex: 1 1 auto;
  text-align: center;
}
.nav-justified > .nav-link, .nav-justified .nav-item {
  flex-basis: 0;
  flex-grow: 1;
  text-align: center;
}
.nav-fill .nav-item .nav-link, .nav-justified .nav-item .nav-link {
  width: 100%;
}
.tab-content > .tab-pane {
  display: none;
}
.tab-content > .active {
  display: block;
}
body.layout_social.tiki.navbar-padding {
  padding-top: 2.72rem;
  padding-bottom: 0;
}
.middle_outer {
  -webkit-box-shadow: inset 0 28px 0 0 #FFA500;
  -moz-box-shadow: inset 0 28px 0 0 #FFA500;
  box-shadow: inset 0 28px 0 0 #FFA500;
}
.fullscreen .middle_outer {
  -webkit-box-shadow: inset 0 3px 0 0 #f06423;
  box-shadow: inset 0 3px 0 0 #f06423;
  border-top: none;
}
.middle .topbar {
  font-size: 0.925rem;
}
nav.fixed-top {
  border-bottom: 5px solid #000000;
}
.navbar.navbar-dark.bg-dark.fixed-top, .navbar.navbar-dark.bg-dark.fixed-top .navbar {
  padding: 0;
}
header.page-header .navbar.bg-dark, header.page-header .navbar.bg-light, .header_outer, header.page-header, header.page-header .navbar, .top_modules .navbar, .top_modules, .top_modules.navbar.bg-light, .top_modules.navbar.bg-dark {
  background-color: #F09C00 !important;
  color: #000 !important;
}
header.page-header .navbar.bg-dark a, header.page-header .navbar.bg-dark .btn, header.page-header .navbar.bg-dark .btn-link, header.page-header .navbar.bg-light a, header.page-header .navbar.bg-light .btn, header.page-header .navbar.bg-light .btn-link, .header_outer a, .header_outer .btn, .header_outer .btn-link, header.page-header a, header.page-header .btn, header.page-header .btn-link, header.page-header .navbar a, header.page-header .navbar .btn, header.page-header .navbar .btn-link, .top_modules .navbar a, .top_modules .navbar .btn, .top_modules .navbar .btn-link, .top_modules a, .top_modules .btn, .top_modules .btn-link, .top_modules.navbar.bg-light a, .top_modules.navbar.bg-light .btn, .top_modules.navbar.bg-light .btn-link, .top_modules.navbar.bg-dark a, .top_modules.navbar.bg-dark .btn, .top_modules.navbar.bg-dark .btn-link {
  color: #000 !important;
}
.navbar.bg-dark.fixed-top, .navbar.bg-dark.fixed-top .navbar, .navbar.bg-light.fixed-top, .navbar.bg-light.fixed-top .navbar, .top_modules.bg-dark, .top_modules.bg-light, .header_outer, .header_outer .navbar-dark.bg-dark, .postbody-title {
  background: #F09C00 !important;
  color: #000;
}
.navbar.bg-dark.fixed-top a, .navbar.bg-dark.fixed-top .navbar a, .navbar.bg-light.fixed-top a, .navbar.bg-light.fixed-top .navbar a, .top_modules.bg-dark a, .top_modules.bg-light a, .header_outer a, .header_outer .navbar-dark.bg-dark a, .postbody-title a {
  color: #000;
}
.navbar.bg-dark.fixed-top a:hover, .navbar.bg-dark.fixed-top .navbar a:hover, .navbar.bg-light.fixed-top a:hover, .navbar.bg-light.fixed-top .navbar a:hover, .top_modules.bg-dark a:hover, .top_modules.bg-light a:hover, .header_outer a:hover, .header_outer .navbar-dark.bg-dark a:hover, .postbody-title a:hover {
  color: #f9f9f9;
}
.navbar.navbar-dark.bg-dark.fixed-top a, .navbar.navbar-dark.bg-dark.fixed-top .btn-link {
  color: #000;
}
.topbar .navbar-dark .navbar-nav > li, .topbar .nav > li, .topbar_modules, .topbar.bg-dark, .topbar.bg-light, .topbar_modules .navbar.bg-dark, .topbar_modules .navbar.bg-light {
  /*.layout_social*/
  /*.layout_social*/
  /*.layout_social*/
  /*.layout_social .topbar .bg-dark,
.layout_social .topbar .bg-light,
.layout_classic .topbar_modules,
.layout_classic .topbar.bg-dark,
.layout_classic .topbar.bg-light,*/
  /*.layout_classic*/
  /*.layout_classic*/
  background: #FFA500 !important;
}
.topbar .navbar-dark .navbar-nav > li > a, .topbar .navbar-dark .navbar-nav > li > .nav-link, .topbar .navbar-dark .navbar-nav > li > .dropdown-toggle, .topbar .nav > li > a, .topbar .nav > li > .nav-link, .topbar .nav > li > .dropdown-toggle, .topbar_modules > a, .topbar_modules > .nav-link, .topbar_modules > .dropdown-toggle, .topbar.bg-dark > a, .topbar.bg-dark > .nav-link, .topbar.bg-dark > .dropdown-toggle, .topbar.bg-light > a, .topbar.bg-light > .nav-link, .topbar.bg-light > .dropdown-toggle, .topbar_modules .navbar.bg-dark > a, .topbar_modules .navbar.bg-dark > .nav-link, .topbar_modules .navbar.bg-dark > .dropdown-toggle, .topbar_modules .navbar.bg-light > a, .topbar_modules .navbar.bg-light > .nav-link, .topbar_modules .navbar.bg-light > .dropdown-toggle {
  color: #000 !important;
}
.topbar_modules.navbar-light .nav-link.dropdown-toggle, .topbar_modules.navbar-dark .nav-link.dropdown-toggle, .topbar_modules.navbar-light .dropdown-toggle {
  color: #000;
}
.bg-dark {
  background-color: #FFA500 !important;
  color: rgba(255, 255, 255, 0.55);
}
.bg-dark .btn-outline-info {
  color: #f2f2f2;
}
.btn-outline-dark {
  color: #e77d4f;
  outline-color: #e77d4f;
}
.layout_basic .topbar_modules, .layout_basic .topbar.bg-dark, .layout_basic .topbar.bg-light, .layout_basic .topbar .bg-light, .layout_basic .topbar .bg-dark {
  background: #FFA500 !important;
}
a, .btn-link, .page-link {
  color: #c74b23;
}
a:hover, .btn-link:hover, a:focus, .btn-link:focus {
  color: #863218;
}
hr {
  border-top: 1px solid #e77d4f;
}
.table th, .table td {
  border-top: 1px solid #e77d4f;
}
.table > thead > tr > th {
  border-bottom: 2px solid #e77d4f;
}
.table > tbody + tbody {
  border-top: 2px solid #e77d4f;
}
.table .table {
  background-color: #ffffff;
}
.table .table-bordered {
  border: 1px solid #e77d4f;
}
.table .table-bordered th, .table .table-bordered td {
  border: 1px solid #e77d4f;
}
.table .table-striped > tbody > tr:nth-child(odd) > td, .table .table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #f9f9f9;
}
.table .table-hover > tbody > tr:hover > td, .table .table-hover > tbody > tr:hover > th {
  background-color: #f5f5f5;
}
.form-control {
  color: #555555;
  background-color: #f8e4dd;
  background-image: none;
  border: 1px solid #fac5b1;
}
.navbar-dark a, .navbar-dark .navbar-brand, .dropdown-menu .tikihelp {
  color: rgba(255, 255, 255, 0.55);
}
.navbar-dark a:hover, .navbar-dark .navbar-brand:hover, .navbar-dark .navbar-brand:focus {
  color: rgba(255, 255, 255, 0.75);
  background-color: transparent;
}
.navbar-dark a:hover, .navbar-dark a:focus {
  color: rgba(255, 255, 255, 0.75);
}
.navbar-dark .active a, .navbar-dark .active a:hover, .navbar-dark .active a:focus {
  color: #fff;
}
.navbar-dark .disabled a, .navbar-dark .disabled a:hover, .navbar-dark .disabled a:focus {
  color: rgba(255, 255, 255, 0.25);
  background-color: transparent;
}
.navbar-dark .navbar-toggle {
  border-color: #dddddd;
}
.navbar-dark .navbar-toggle:hover, .navbar-dark .navbar-toggle:focus {
  background-color: #dddddd;
}
.navbar-dark .navbar-toggle .icon-bar {
  background-color: #888888;
}
.navbar-dark .navbar-collapse, .navbar-dark .navbar-form {
  border-color: transparent;
}
nav:not(.topbar_modules, .top_modules).navbar-dark .open > a, nav:not(.topbar_modules, .top_modules).navbar-dark .open > a:hover, nav:not(.topbar_modules, .top_modules).navbar-dark .open > a:focus {
  color: rgba(255, 255, 255, 0.55);
}
.navbar-dark .navbar-link:hover {
  color: #f9f9f9;
}
.navbar .navbar {
  background: transparent !important;
}
.dropdown-menu {
  background-color: #c44a23;
  border: 1px solid rgba(0, 0, 0, 0.15);
}
.tiki .dropdown-item, .tiki .dropdown-item a, .tiki .dropdown-item .btn.btn-link {
  color: #ffffff;
}
.tiki .dropdown-item:hover, .tiki .dropdown-item:focus, .tiki .dropdown-item a:hover, .tiki .dropdown-item a:focus, .tiki .dropdown-item .btn.btn-link:hover, .tiki .dropdown-item .btn.btn-link:focus {
  color: #f2f2f2;
  background: #e36732;
}
.tiki .dropdown-item:active, .tiki .dropdown-item.active, .tiki .dropdown-item a:active, .tiki .dropdown-item a.active, .tiki .dropdown-item .btn.btn-link:active, .tiki .dropdown-item .btn.btn-link.active {
  color: #f2f2f2;
  background: #ae421f;
}
.tiki .dropdown-item.disabled, .tiki .dropdown-item:disabled, .tiki .dropdown-item a.disabled, .tiki .dropdown-item a:disabled, .tiki .dropdown-item .btn.btn-link.disabled, .tiki .dropdown-item .btn.btn-link:disabled {
  color: #f2f2f2;
}
.tiki .dropdown-item .dropdown-header, .tiki .dropdown-item a .dropdown-header, .tiki .dropdown-item .btn.btn-link .dropdown-header {
  color: #ffffff;
}
.tiki .dropdown-item .dropdown-divider, .tiki .dropdown-item a .dropdown-divider, .tiki .dropdown-item .btn.btn-link .dropdown-divider {
  background: #c44a23;
}
.cssmenu_horiz ul li button.btn-link.link-list, .cssmenu_vert ul li button.btn-link.link-list {
  background: #c44a23;
  color: #ffffff;
}
.cssmenu_horiz ul li button.btn-link.link-list:hover, .cssmenu_vert ul li button.btn-link.link-list:hover {
  color: #f2f2f2;
  background: #e36732;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  color: #ffffff;
  background-color: #c74b23;
}
.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
  color: #e77d4f;
  background-color: #eeeeee;
  border-color: #dddddd;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  color: #ffffff;
  background-color: #c74b23;
  border-color: #c74b23;
}
.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus {
  color: #999999;
  background-color: #ffffff;
  border-color: #dddddd;
}
.col2 .card-header, .col3 .card-header {
  border-bottom: 1px solid #e77d4f;
}
header.page-header {
  margin-top: 0;
  margin-bottom: 0;
  border-bottom: none;
}
header.page-header a:not(.dropdown-item), header.page-header a.btn-link {
  color: #000 !important;
}
.form-control, select, input[type="text"], input[type="password"], input[type="file"], input[type="email"], input[type="search"], input[type="number"], input#login-pass, textarea, .adminoptionbox option {
  color: #555555;
  background-color: #f8e4dd;
}
input[type="checkbox"].preffilter-toggle-round:checked + label::before {
  background: #f1c9bb;
}
#footer {
  background: black;
  color: #f4f4f4;
  padding: 1px 0 2px 0;
  width: 100%;
}
.footer {
  border-top: 1px solid #ebdc14;
  border-bottom: 1px solid #ebdc14;
}
.footer_liner .card {
  background-color: transparent;
  border: none;
}
.footer_liner .card-header {
  color: #ffffff;
  border-bottom: 1px dotted #ebdc14;
}
.footer_liner legend, .footer_liner a:not(.btn), .footer_liner a:not(.btn):visited {
  color: #a9a9a9;
}
.nav-tabs .nav-link {
  color: #000;
  background-color: #f8e4dd;
  border-color: #dee2e6 #dee2e6 #ffffff;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  color: #fff;
  background-color: #e36732;
}
.topbar .cssmenu_horiz ul {
  background: #c44a23;
}
.blog-postbody-title h2.card-title {
  font-size: 20px;
}
.blogpost .card-header {
  background: #F09C00;
}
.siteloginbar_popup .dropdown-menu > li > a {
  color: #ffffff;
}
header.header .sitetitle, header.header .sitesubtitle {
  text-shadow: none;
}
.searchresults blockquote em, .highlight {
  background: #f2dede;
  color: #a94442;
  border-color: #ebccd1;
}
.cssmenu_horiz li ul, .cssmenu_vert li ul {
  background-color: #c44a23;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.cssmenu_horiz li ul > li > a, .cssmenu_vert li ul > li > a {
  padding: 3px 20px;
  font-weight: normal;
  color: #ffffff;
  background: #c44a23;
}
.cssmenu_horiz > li > a:hover, .cssmenu_vert > li > a:hover, .cssmenu_horiz ul > li > a:hover, .cssmenu_vert ul > li > a:hover, .cssmenu_horiz > li > a:focus, .cssmenu_vert > li > a:focus, .cssmenu_horiz ul > li > a:focus, .cssmenu_vert ul > li > a:focus {
  text-decoration: none;
  color: #f2f2f2;
  background-color: #e36732;
}
#autotoc * {
  color: #c74b23;
}
#autotoc .nav > li > a:hover, #autotoc .nav .nav > li > a:hover, #autotoc .nav > li > a:focus {
  color: #f2f2f2;
  background: #ae421f;
}
#autotoc .nav > li .active, #autotoc .nav > li.open > a {
  color: #f2f2f2;
  background: #ae421f;
}
#autotoc .nav .dropdown-item {
  color: #c74b23;
}
#col2 .card-title, #col3 .card-title, a.flipmoduletitle, #col2 .card-secondary > .card-header a, #col3 .card-secondary > .card-header a {
  color: #e77d4f;
}
footer#footer .footer_liner {
  border-top: 1px solid #ebdc14;
  border-bottom: 1px solid #ebdc14;
}
footer#footer .footer_liner .card-header {
  border-bottom: 1px dotted #ebdc14;
}
.btn-dark {
  color: #fdde9f;
  background: #e77d4f;
  border-color: #e77d4f;
}
.page-item.disabled, .list-group-item.disabled {
  color: #6B737B !important;
}
.tiki .select2-container--bootstrap-5 .select2-selection {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #555555;
  background-color: #f8e4dd;
  border: 1px solid #fac5b1;
  border-radius: 0.25rem;
}
.tiki .select2-container--bootstrap-5 .select2-selection--single .select2-selection__rendered, .tiki .select2-container--bootstrap-5 .select2-dropdown .select2-results__options .select2-results__option {
  font-weight: 400;
  line-height: 1.5;
  color: #555555;
}
.tiki .select2-container--bootstrap-5 .select2-dropdown {
  background-color: #f8e4dd;
  border: 1px solid #fac5b1;
  border-radius: 0.25rem;
}
.tiki .select2-results__options .select2-results__option {
  color: #555555;
  background: #f8e4dd;
}
.tiki .select2-container--bootstrap-5 .select2-dropdown .select2-search .select2-search__field {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #555555;
  background-color: #f8e4dd;
  border: 1px solid #fac5b1;
  border-radius: 0.25rem;
  transition: #fac5b1 0.15s ease-in-out, inset 0 1px 2px rgba(0, 0, 0, 0.075) 0.15s ease-in-out;
}
.tiki .select2-container--bootstrap-5 .select2-dropdown .select2-results__options .select2-results__option.select2-results__option--selected, .tiki .select2-container--bootstrap-5 .select2-dropdown .select2-results__options .select2-results__option[aria-selected="true"] {
  color: #fff;
  background-color: #f06423;
}
