// $Id$
/* Yeti theme newsletter stylesheet */
$web-font-path: "https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700" !default;
@import url($web-font-path);

@import "../../base_files/scss/newsletter.scss";
@import "../../../vendor_bundled/vendor/thomaspark/bootswatch/dist/yeti/variables";

$font-family-sans-serif:  "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-base:        $font-family-sans-serif;
$font-size-base:          15px;
