/* Darkroom theme newsletter stylesheet  */
body {
  background: #474747;
  color: #d8d8d8;
  font-family: "Trebuchet MS", "Bitstream Vera Sans", sans-serif;
  padding: 15px;
}
a, a:visited {
  color: #ababab;
  text-decoration: none;
}
a:hover {
  color: #858585;
  text-decoration: none;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 500;
}
.card {
  margin-bottom: 1.5;
  background-color: #474747;
  border: 1px solid transparent;
  border-radius: 0.375rem;
}
.card-header {
  border-bottom: 1px solid transparent;
}
.card-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2rem;
  color: inherit;
}
.card-title > a, .card-title > small, .card-title > .small, .card-title > small > a, .card-title > .small > a {
  color: inherit;
}
