//Custom styles for the FiveAlive Orange option theme.

// - - - - - - - Bootstrap variables (override values in vendor_bundled/vendor/twbs/bootstrap/scss/_variables.scss - - - - - - //
$gray-600: #6c757d;
$gray-900: #212529;

$white:    #fff;
$black:    #000;
$light: #e77d4f;

$theme-colors: (
    "primary":            #f06423,
    "secondary":         #952f20,
    "success":             #5cb85c,
    "info": #ba3a26,
    "warning":             #f0ad4e,
    "danger":           #EB0004, //#ff3338,
    "light":            #fdde9f, // #e77d4f,
    "dark":                #e77d4f
);

$primary:       #f06423;
$secondary:     #952f20;
$success:       #5cb85c;
$info:          #ba3a26;
$warning:       #f0ad4e;
$danger:        #EB0004; // #ff3338;
$light:         #fdde9f; // #ffcd70; // #e77d4f;
$dark:          #e77d4f;

$theme-colors: map-merge(
        (
            "primary":    $primary,
            "secondary":  $secondary,
            "success":    $success,
            "info":       $info,
            "warning":    $warning,
            "danger":     $danger,
            "light":      $light,
            "dark":       $dark
        ),
        $theme-colors
);

// The following are default values from vendor/twbs/bootstrap/scss/variables.scss - change as needed for theme child option (or to match values in parent theme).
// Comment-out any that are already defined in the parent theme variables.scss file and shouldn't be redefined.

$color-contrast-dark:             $gray-900 !default;
$color-contrast-light:            $white !default;
$enable-gradients:          false;

$bg-dark: #000;
$bg-light: #ffcd70; // #fddacb !important;

$link-color: #c74b23;
$link-hover-color:               darken($link-color, 15%);

// Navs
$nav-tabs-link-color: #000;
$nav-tabs-link-bg: #f8e4dd; // Same as $input-bg
$nav-tabs-link-active-color: #fff;
$nav-tabs-link-active-bg: #e36732; // Same as $dropdown-link-hover-bg;

// Navbars
$top-bg: #F09C00; // #a53723;
$top-color: #000;
$top-link-color: #000;
$top-link-hover-color: #f9f9f9;

$topbar-bg: #7e301e; // #FFA500; // #CA4C12;
$bg-dark-info: #f2f2f2;
//$navbar-fixed-top-bg: #e4af00;
$page-header-link-color: #000;

// navbar link hover colors
$bg-dark-link-hover-color: #f2f2f2;
$bg-dark-link-hover-bg: #003c4a;

$topbar-link-color: #000;

// Typography
$hr-border-color: #e77d4f;
$text-muted:  #6B737B;

// Cards
$card-border-color: #e77d4f;

// Tables
$table-border-color: #e77d4f;
$table-accent-bg: #f9f9f9;
$table-hover-bg: #f5f5f5;

// Forms
$input-color: #555555;
$input-bg: #f8e4dd;
$input-border-color: #fac5b1;
$input-border-top-color: #fac5b1;
$input-border-right-color: #fbf1ed;
$input-border-bottom-color: #fbf1ed;
$input-border-left-color: #fac5b1;

// Form validation

// Dropdowns
$dropdown-bg: #c44a23;
$dropdown-border-color: rgba(0, 0, 0, 0.15);
$dropdown-link-color: #ffffff;
$dropdown-link-hover-color: #f2f2f2;
$dropdown-link-hover-bg: #e36732;
$dropdown-link-active-color: $dropdown-link-color;
$dropdown-link-active-bg: #ae421f;
$dropdown-link-disabled-color: #f2f2f2;
$dropdown-header-color: #ffffff;
$dropdown-divider-bg: $dropdown-bg;

// Pagination
$nav-pills-link-active-bg: #c74b23;
$pagination-color: #c74b23;
$pagination-bg: #ffffff;
$pagination-border-color: #dddddd;
$pagination-hover-color: #e77d4f;
$pagination-hover-bg: #eeeeee;
$pagination-hover-border-color: #dddddd;
$pagination-active-bg: #c74b23;
$pagination-active-border-color: #c74b23;
$pagination-disabled-color: #999999;
$pagination-disabled-bg: #ffffff;
$pagination-disabled-border-color: #dddddd;


// - - - - - - - - - -  - - - - - - Other variables, if any - - - - - - - - - - - - - - - - - //
//$bg-light-alt: #117485 !important;

$side-column-heading-color: #e77d4f;

$middle_outer-inset-shadow-bg: #33140a;
$footer_liner-card-inner-border: #ebdc14;

$footer-accent-color: #ebdc14;
$footer-btn-secondary-color: #f4f4f4;
$footer_liner-border-color: $footer-accent-color;

$autotoc-nav-bg: #e77d4f;
$autotoc-color: #ffffff;
$autotoc-nav-link-hover-color: #f2f2f2;
$autotoc-nav-link-hover-bg: #ae421f;

// - - - - - - - - - -  - - - - - - Other CSS, if any - - - - - - - - - - - - - - - - - //

.header_outer,
.layout_basic #top_modules,
.postbody-title,
.tiki > .navbar.fixed-top.bg-dark,
//.topbar, .navbar-dark, .topbar .navbar-dark .navbar-nav > li, .topbar .nav > li,
.bg-dark {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c44a23+0,c64b23+10,dc5823+34,e96023+58,f06423+87,f06423+100 */
  background: #c44a23 !important; /* Old browsers */
  background: -moz-linear-gradient(left,  #c44a23 0%, #c64b23 10%, #dc5823 34%, #e96023 58%, #f06423 87%, #f06423 100%) !important; /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #c44a23 0%,#c64b23 10%,#dc5823 34%,#e96023 58%,#f06423 87%,#f06423 100%) !important; /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #c44a23 0%,#c64b23 10%,#dc5823 34%,#e96023 58%,#f06423 87%,#f06423 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c44a23', endColorstr='#f06423',GradientType=1 ); /* IE6-9 */
}

//.bg-dark {background: #33140a !important; }
$autotoc-nav-bg: #ffffff;
$autotoc-nav-border: #ec6223;
$autotoc-color: #c74b23;
$autotoc-nav-li-link-hover-color: #f2f2f2;
$autotoc-nav-li-link-hover-bg: #ae421f;
$middle_outer-inset-shadow-bg: #33140a;
$postbody-title-card-title-color: #fff;