{* $Id$ *}

<div class="d-flex">
    <div class="me-4">
        <span class="fa-stack fa-lg" style="width: 100px;" title="{tr}Configuration Profiles Wizard{/tr}" >
            <i class="fas fa-cubes fa-stack-2x"></i>
            <i class="fas fa-flip-horizontal fa-magic fa-stack-1x ms-4 mt-4"></i>
        </span>
    </div>
    <div class="flex-grow-1 ms-3">
        <h4 class="mt-0 mb-4">{tr}Check out some useful profiles that involve changing the display mode of content in your site{/tr}.</h4>
        <h3>{tr}Profiles:{/tr}</h3>
            <div class="row">
                <div class="col-md-6">
                    <h4>{tr}Slideshow demo{/tr}</h4>
                    (<a href="tiki-admin.php?ticket={ticket mode=get}&profile=Slideshow_demo&show_details_for=Slideshow_demo_19&categories%5B%5D={$tikiMajorVersion}.x&repository=http%3a%2f%2fprofiles.tiki.org%2fprofiles&page=profiles&preloadlist=y&list=List#step2" target="_blank">{tr}apply profile now{/tr}</a>)
                    <br/>
                    {tr}This profile sets up a slideshow from a simple wiki page, which you can use to learn the basics of how easily the slideshow system in Tiki works.{/tr}
                    <br/>
                    <a href="https://doc.tiki.org/Slideshow" target="tikihelp" class="tikihelp" title="{tr}Slideshow demo{/tr}:
                        {tr}More details{/tr}:
                        <ul>
                            <li>{tr}All content is in a wiki page, which can be printed to your audience in just a few sheets of paper{/tr}</li>
                            <li>{tr}Headers of different levels are used as markers of 'new slide' and used as titles{/tr}</li>
                            <li>{tr}Many settings can be predefined as parameters of a call to PluginSlideshow{/tr}</li>
                            <li>{tr}Allows slide notes in a separate window for dual monitor setups, slide numbers in footer, timer, style with background images, navigation bar with all slides listed to jump to{/tr}</li>
                        </ul>
                        {tr}Click to read more{/tr}"
                    >
                        {icon name="help"}
                    </a>
                    <div class="row">
                        <div class="col-md-8 offset-md-2">
                            <a href="http://tiki.org/display541" class="thumbnail internal" data-box="box" title="{tr}Click to expand{/tr}">
                                <img src="img/profiles/profile_thumb_slideshow_demo.png" alt="Click to expand" class="regImage pluginImg" title="{tr}Click to expand{/tr}" />
                            </a>
                            <div class="mini text-center">
                                <div class="thumbcaption text-center">{tr}Click to expand{/tr}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">

                    <h4>{tr}Hide Fixed Top Navigation Bar on scroll{/tr}</h4>
                    (<a href="tiki-admin.php?ticket={ticket mode=get}&profile=Hide+Fixed+Top+Nav+Bar+on+Scroll+19&show_details_for=Hide+Fixed+Top+Nav+Bar+on+Scroll+19&categories%5B%5D={$tikiMajorVersion}.x&repository=http%3a%2f%2fprofiles.tiki.org%2fprofiles&page=profiles&preloadlist=y&list=List#step2" target="_blank">{tr}apply profile now{/tr}</a>)
                    <br/>
                    {tr}This profile hides the fixed top navigation bar (in the top section of modules) on page scroll, while displaying the topbar module in a sticky position at the top afterwards.{/tr}
                    <br/>
                    <a href="https://doc.tiki.org/Navigation+Bar" target="tikihelp" class="tikihelp" title="{tr}Hide Fixed Top Navi Bar on Scroll{/tr}:
                        {tr}More details{/tr}:
                        <ul>
                            <li>{tr}Site layout (in Control Panels > Look and Feel > General layout) will be set to 'Classic Bootstrap (fixed top navbar)'{/tr}</li>
                            <li>{tr}Preference Site logo (feature_sitelogo) will be disabled so that logos and site title are not shown twice{/tr}</li>
                            <li>{tr}After scrolling down a bit, the fixed top bar will disappear and the topbar zone (if any) will become sticky{/tr}</li>
                            <li>{tr}This profile is best demonstrated after applying the Collaborative Community profile which include site title and topbar module with menus{/tr}</li>
                        </ul>
                        {tr}Click to read more{/tr}"
                    >
                        {icon name="help"}
                    </a>
                    <div class="row">
                        <div class="col-md-8 offset-md-2">
                            <a href="http://tiki.org/display1227" class="thumbnail internal" data-box="box" title="{tr}Click to expand{/tr}">
                                <img src="img/profiles/profile_thumb_hidable_top_navbar.png" alt="Click to expand" class="regImage pluginImg" title="{tr}Click to expand{/tr}" />
                            </a>
                            <div class="mini text-center">
                                <div class="thumbcaption text-center">{tr}Click to expand{/tr}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    &nbsp;
                </div>
                <div class="col-md-6">
                    &nbsp;
                </div>
            </div>
    </div>
</div>
