/* Ohia theme newsletter stylesheet  */
:root {
  --bs-nav-link-color: $leaf;
}
body {
  background: #2d2d3a;
  color: #DEE1E6;
  font-family: "Alegreya Sans", Helvetica, Arial, sans-serif;
  padding: 15px;
}
a, a:visited {
  color: #80A60F;
  text-decoration: none;
}
a:hover {
  color: #f4f4f4;
  text-decoration: none;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Alegreya Sans SC", sans-serif;
  font-weight: 500;
}
.card {
  margin-bottom: 1.5;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.375rem;
}
.card-header {
  border-bottom: 1px solid transparent;
}
.card-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2rem;
  color: inherit;
}
.card-title > a, .card-title > small, .card-title > .small, .card-title > small > a, .card-title > .small > a {
  color: inherit;
}
