/* Bootswatch theme adapted by the Tiki Community for Tiki Wiki CMS Groupware */
/* Original Bootswatch information: */
/*!
 * bootswatch v5.1.3
 * Homepage: http://bootswatch.com
 * Copyright 2012-2017 Thomas Park
 * Licensed under MIT
 * Based on Bootstrap
*/

@import "../../../vendor_bundled/vendor/thomaspark/bootswatch/dist/materia/variables"; // Needs to come first, to override defaults.
@import "../../../vendor_bundled/vendor/twbs/bootstrap/scss/bootstrap.scss"; // Needed for darken function.
@import "../../base_files/scss/_tiki-variables.scss"; // Values/definitions for Tiki variables (outside of Bootstrap variables) such as _tiki-selectors.scss.
@import "../../base_files/scss/_tiki-selectors.scss";
@import "../../base_files/scss/_bs3-bs4-transition.scss";
@import "../../../vendor_bundled/vendor/thomaspark/bootswatch/dist/materia/bootswatch";
@import "../../base_files/scss/_external-scripts.scss";


input[type="checkbox"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"],
input[type="radio"],
.radio input[type="radio"],
.radio-inline input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
}

.form-check-input {
    margin-top: 0;
}

// Increase navbar height and side margins to reinstate Bootswatch style
.topbar_modules > * {
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.topbar_modules {
    margin-left: 30px;
    margin-right: 30px;
}

.navbar-dark-parent .form-control::placeholder, .navbar-dark-parent .form-control:focus, .navbar-dark-parent .form-control, .navbar-dark .form-control::placeholder, .navbar-dark .form-control:focus, .navbar-dark .form-control {
    color: rgba(255, 255, 255, 0.75);
}
